[Unit]
Description=Clear Motion Videos older than One Day

[Service]
Type=oneshot
ExecStart=/bin/bash -c "find /var/motion -type f -mtime +1 | xargs rm -f"
User=root
Group=systemd-journal
